@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn, .btn-1, .btn-2 {
  width: 150px;
  border-radius: 5px; }

.btn:hover, .btn-1:hover, .btn-2:hover {
  cursor: pointer;
  opacity: .85; }

.btn-1 {
  background-color: #6605e6;
  color: white; }

.btn-2 {
  background-color: #32b9e6;
  color: white; }

.tarjeta {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.5); }
  .tarjeta .textoUno {
    color: red; }
  .tarjeta .textoDos {
    color: green; }
 .picaditas1{
  width: 100px;
  height: 100px;
 }   

/* estilos generales */

  body {
  /* se utiliza por ejemplo para colores generales tipografias, tamaños generales...*/
  background-color: brown; }

.inicio {
  background-color: brown !important; }

/* estilos del main*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: start;
  color: white; 
}
main{
  color: white;
}

section {
  color: white; }

main form fieldset {
  background-color: brown;
  width: 150px;
  height: 150px;
  display: flex; }

  

/* estilos del footer*/
footer {
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-between; }
  .instagram{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

footer h2 {
  margin-top: 1rem; }



@media screen and (min-width: 600px) {
  main {
    display: block; } }
    .imgcarrousel{
      height: 200px;
      object-fit: cover;
    }
  
  
@media screen and (min-width: 1200px) {
  main {
    display: block; }
  .picada {
    width: 24rem;
    height: 26rem;
    margin: 1rem; } }
 .quienes-somos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
   }

.mapa {
  width: 18rem;
  height: 20rem;
  margin: 1rem; }
.tienda{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}
.formulario1{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 70%;
  justify-content: center;
  align-items: center;}

  .lala {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  