/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./html/contacto";
@import "./utilidades/variables";
@import "./html/productos";


// EXTEND

/* estilos generales */

body{
    /* se utiliza por ejemplo para colores generales tipografias, tamaños generales...*/
background-color: $color-principal;
 
}

.inicio{
    background-color: $color-principal !important;
}

/* estilos del main*/
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    color: white;
}

section{
    color: white;
}
main form fieldset {
    background-color: brown;
    width: 150px;
    height: 150px;
    display: flex;
    
}
/* estilos del footer*/
footer{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
}

footer h2{
    margin-top: 1rem;
}

@media screen and (min-width:600px){
main{
    display: block;
}
}

@media screen and (min-width:1200px){
    main{
        display: block;
    }
.picada{
        width: 24rem ;
        height: 26rem;
        margin: 1rem;
}
}

.mapa{
    width: 18rem ;
    height: 20rem;
    margin: 1rem;

}






